body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero-container {
    max-width: 2000px;
    padding: 0 130px;
    text-align: justify;
    margin: 0;
    padding-top: 50px;
}

.hero-container h1{
    font-size:55px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #4cf0b1;
    /* Change this to your desired hover color */
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 48px;
    color: #4cf0b1;
}

.hero p {
    font-size: 24px;
    color: #ccc;
}

.hero button {
    background-color: #4cf0b1;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    margin: 10px;
}




@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    .hero button {
        font-size: 16px;
        padding: 10px 20px;
    }
    .hero-container {
        padding: 0 59px;
    }
}

@media (max-width: 480px) {
    header img {
        width: 80px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .hero button {
        font-size: 14px;
        padding: 8px 16px;
    }

}

.container {
    max-width: 2000px;
    margin: 5%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/*.gallery*/
.gallery {
    width: 100%;
    display: block;
    min-height: 200vh;
    padding: 100px 0;
    justify-content: center;
}

.gallery .gallery-filter {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.gallery .gallery-filter .filter-item {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    line-height: 1.2;
    transition: all 0.3s ease;
}

.gallery .gallery-filter .filter-item.active {
    color: #4cf0b1;
    border-color: #4cf0b1;
}

.gallery .gallery-item {
    width: calc(100% / 5);
    padding: 15px;
}

.gallery .gallery-item-inner img {
    width: 100%;
}

.gallery .gallery-item-inner video {
    width: 100%;
}

.gallery .gallery-item.show {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.gallery .gallery-item.hide {
    display: none;
}

/*responsive*/
@media(max-width: 991px) {
    .gallery .gallery-item {
        width: calc(100% / 3);
    }
}

@media(max-width: 767px) {
    .gallery .gallery-item {
        width: 100%;
    }

    .gallery .gallery-filter .filter-item {
        margin-bottom: 10px;
    }
}