#initiatives {
  animation: CSSscrollReveal 2s cubic-bezier(0.25, 0.1, 0.25, 1) both; /* Custom smooth timing function */
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-timing-function: ease;
}
#initiatives h1 {
  color: white;
  text-align: center;
  font-size: 55px;
  animation: CSSscrollReveal 2s cubic-bezier(0.25, 0.1, 0.25, 1) both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-timing-function: ease;
}

.card-container {
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 15px;
  margin: 50px;
  color: white;
}

.cards-content {
  margin: 0;
  border: 1px solid var(--primary-color);
  background: linear-gradient(
    0deg,
    rgba(76, 241, 175, 0) 0%,
    rgba(76, 240, 177, 0.5) 100%
  );
  /* box-shadow: 5px 5px 10px var(--primary-color); */
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  width: 23%;
  height: 410px;
  position: relative;
  /* cursor: pointer; */
  animation: CSSscrollReveal 2s cubic-bezier(0.25, 0.1, 0.25, 1) both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-timing-function: ease;
}

.cards-content hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #82a78655;
  margin-top: 0;
}

.cards-content a {
  text-decoration: none;
  color: white;
}

.cards-content button {
  background-color: black;
  /* opacity: 50%;/ */
  height: 30px;
  border: none;
  border-radius: 5px;
}

.cards-content .cards-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.cards-content .cards-main .cardImage {
  border-radius: 0.5rem;
  max-width: 90%;
  height: 140px;
  object-fit: cover;
}

.cards-content .cards-main h2 {
  margin: 10px;
}

.cards-content .cards-main .description {
  margin: 0;
  color: #b0c8bd;
  font-size: 14px;
}

.cards-content .card-bottom {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}

.cards-content::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 50px #d9ede38f;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 1000px;
  transition: 0.8s all;
}

.cards-content:hover {
  border: 1px solid var(--primary-color);
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  /* filter: brightness(1.3); */
}

.cards-content:hover::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}

@media screen and (max-width: 1200px) {
  .cards-content {
    width: 25%;
  }
}

@media screen and (max-width: 992px) {
  .cards-content {
    width: 33%;
  }
}

@media screen and (max-width: 768px) {
  .cards-content {
    width: 45%;
  }
}

@media screen and (max-width: 576px) {
  .cards-content {
    width: 100%;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .cards-content .cards-main {
    width: 100%;
    padding: 1rem 0.5rem;
  }
  .cards-content .cards-main #first {
    animation: CSSscrollReveal 2s cubic-bezier(0.25, 1, 0.25, 1) both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
    animation-timing-function: ease;
  }
  #initiatives h1 {
    font-size: 30px;
  }
  .cards-content .cards-main .description {
    margin: 0;
    color: #b0c8bd;
    font-size: 14px;
    text-align: left;
  }
}
